extends layout

block content
  

  if msg
    center
      h1= msg
 
  else
    a(href='/reviews/edit/#{review.id}')
      img(src='https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-128.png', onClick='showEditForm(true)' height="30")

    h1= review.name
    h2= review.placeType
    - for (var x = 0; x < review.stars; x++)
      img(src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png" height="20")
    br
    a(href='/reviews') ALL REVIEWS
